/* fonts */
/* extensions */
/* functions */
/* gradient */
html {
  font-size: 10px; }
  @media screen and (min-width: 576px) {
    html {
      font-size: 16px; } }

body, html {
  height: 100%;
  width: 100%; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

header {
  z-index: 1;
  width: 100%; }
  header h1 {
    text-align: center;
    font-weight: bold;
    color: #7a7a52;
    margin: 0;
    padding: 2rem; }
    header h1 a:hover {
      color: #999967; }
  header .subtitle {
    background-color: #e0e0e0; }
    header .subtitle .subtitle-text {
      padding: 0.25rem;
      margin: 0;
      font-size: 1rem;
      font-weight: lighter;
      color: gray;
      line-height: 1.2; }
      header .subtitle .subtitle-text span {
        color: #990033;
        font-weight: bold; }
    header .subtitle .button-game-rules {
      margin-left: auto;
      border-radius: 50%;
      border: 2px solid #990033;
      background-color: transparent;
      color: #990033;
      height: 30px;
      width: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out; }
      header .subtitle .button-game-rules :hover {
        transform: scale(1.1); }

.title, footer {
  background-color: #c2c2a3;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 2px #e0e0e0;
  position: relative;
  z-index: 1; }

footer {
  margin-top: 3rem;
  bottom: 0;
  position: fixed;
  width: 100%; }
  footer p {
    text-align: center;
    padding: 2rem;
    color: #7a7a52;
    margin-bottom: 0; }

.main {
  margin-top: 4rem;
  margin-bottom: 6rem; }
  .main .timer {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: red;
    height: 5rem; }
  .main .green {
    color: green; }
  .main .game-inner {
    height: 100%; }
    .main .game-inner aside .answer-list {
      list-style-type: none;
      padding-left: 0;
      margin-left: auto; }
      .main .game-inner aside .answer-list .btn-answer {
        background-color: white;
        border-color: green;
        color: green;
        min-width: 100%;
        width: auto;
        white-space: normal;
        font-size: 0.9rem;
        border-radius: 0; }
        .main .game-inner aside .answer-list .btn-answer:hover {
          background-color: green;
          color: white; }
      .main .game-inner aside .answer-list .green-backgr {
        background-color: green;
        color: white; }
    .main .game-inner .picture-space {
      position: relative;
      padding-left: 15px; }
      .main .game-inner .picture-space .row {
        margin-left: 0; }
      .main .game-inner .picture-space .picture {
        padding-top: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .main .game-inner .picture-space .grayscale {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%); }
      .main .game-inner .picture-space .active {
        cursor: pointer; }
      .main .game-inner .picture-space .filter {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px); }
  .main .intro {
    text-align: justify; }
  .main .category-list {
    padding-top: 3rem;
    text-align: center; }
    .main .category-list h2 {
      color: #7a7a52; }
    .main .category-list ul {
      list-style-type: none;
      font-size: 1.5rem;
      padding-left: 0; }
      .main .category-list ul a {
        color: #909090; }
        .main .category-list ul a:hover {
          color: #990033;
          text-decoration: none; }

.btn:focus {
  box-shadow: none; }
